.App {
  text-align: center;
  background:black;
  color:white;
  height:fill;
  background-size:fill;
}

ul {
  list-style: none;
}

.register-body{
  height:100%;
  margin: 10% 20% 5% 20%;
}

.header{
  color:white;
  width:100%;
  background: url(https://images.wallpaperscraft.com/image/keyboard_backlight_keys_66780_1280x720.jpg);
  background-position: center;
  background-size:90%;
  background-repeat: no-repeat;
  height:100px
}

.list-item{
  color:white;
  border-bottom: 1px solid;
  border-color:white;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5%;
}
.list-title{
 align-self:left;
padding: 0 30% 0 0;
}
.list-description{
margin:auto;
flex-grow: 2;
}
.list-playthrough{
  padding: 0 0 0 30%;
align-self:right;
}
.list-review{
margin:auto;
flex-grow: 2;
}
.list-rating{

}
.list-edit{
align-self:flex-end;

}
.list-delete{
align-items:flex-end;
size: 1500000%
}